body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #e6f7ff; /* Light blue background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container stretches to at least the full viewport height */
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 180px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#inputFields {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#timeQuantumContainer {
  display: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ganttChart {
  display: none;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}

table,
th,
td {
  border: 1px solid #ccc;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
  color: #555;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
